## SQL Murder Mystery
### Can you find out whodunnit?
#### http://mystery.knightlab.com/

### Schema:

<img src="murder_mystery_schema.png">

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a ​murder​ that occurred sometime on ​Jan.15, 2018​ and that it took place in ​SQL City​. Start by retrieving the corresponding crime scene report from the police department’s database.

SELECT * FROM crime_scene_report
WHERE date = 20180115
AND city = 'SQL City'
AND type = 'murder';

			
date: 20180115	 <br/>
type: murder  <br/>
description: Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".	 <br/>
city: SQL City

In [ ]:
SELECT * FROM person
WHERE address_street_name = 'Franklin Ave'
AND name LIKE 'Annabel%';

SELECT * FROM person
WHERE address_street_name = 'Northwestern Dr'
ORDER BY address_number DESC
LIMIT 2;

witnesses: <br/>
id; name; license_id; address_number; address_street_name; ssn <br/>
16371; Annabel Miller; 490173; 103 Franklin Ave; 318771143 <br/>
14887; Morty Schapiro; 118009; 4919 Northwestern Dr; 111564949 <br/>

In [ ]:
SELECT * FROM interview
WHERE person_id = 16371
OR person_id = 14887;

person_id transcript <br/>
14887 I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W". <br/>
16371 I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.

In [ ]:
SELECT * FROM drivers_license
WHERE plate_number LIKE '%H42W%';

id; age; height; eye_color; hair_color; gender; plate_number; car_make; car_model <br/>
183779; 21; 65; blue; blonde; female; H42W0X; Toyota Prius  <br/>
423327; 30; 70; brown; brown; male; 0H42W2; Chevrolet Spark LS  <br/>
664760; 21; 71; black; black; male; 4H42WR; Nissan Altima

In [ ]:
SELECT * FROM get_fit_now_check_in
WHERE membership_id IN (SELECT id FROM get_fit_now_member
WHERE person_id = 16371);

membership_id; check_in_date; check_in_time; check_out_time <br/>
90081;	20180109;	1600;	1700

In [ ]:
SELECT * FROM get_fit_now_check_in
WHERE check_in_date = 20180109;

membership_id; check_in_date; check_in_time; check_out_time <br/>
48Z7A; 20180109; 1600; 1730 <br/>
48Z55; 20180109; 1530; 1700

In [ ]:
SELECT * FROM person
WHERE id IN
(SELECT person_id FROM get_fit_now_member
WHERE id = '48Z7A'
OR id = '48Z55');

id; name; license_id; address_number; address_street_name; ssn <br/>
28819; Joe Germuska; 173289; 111 Fisk Rd; 138909730 <br/>
67318; Jeremy Bowers; 423327; 530 Washington Pl, Apt 3A; 871539279

In [ ]:
SELECT * FROM drivers_license
WHERE id = '173289'
OR id = '423327';

id; age; height; eye_color; hair_color; gender; plate_number; car_make; car_model <br/>
423327; 30; 70; brown; brown; male; 0H42W2; Chevrolet Spark LS

In [ ]:
##Did you find the killer?

INSERT INTO solution VALUES (1, 'Insert the name of the person you found here');
        SELECT value FROM solution;

Jeremy Bowers <br/>

Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murderer to find the real villian behind this crime. If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement to check your answer.

In [ ]:
# Jeremy Bowers person_id = 67318

SELECT * FROM interview
WHERE person_id = 67318;

person_id transcript <br/>
67318 I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.

In [ ]:
SELECT * FROM drivers_license
WHERE height BETWEEN 65 and 67
AND hair_color = 'red'
AND car_make = 'Tesla';

id; age; height; eye_color; hair_color; gender; plate_number; car_make; car_model <br/>
202298; 68; 66; green; red; female; 500123; Tesla Model S <br/>
291182; 65; 66; blue; red; female; 08CM64; Tesla Model S <br/>
918773; 48; 65; black; red; female; 917UU3; Tesla Model S

In [ ]:
SELECT * FROM person
WHERE license_id IN (202298, 291182, 918773);

id; name; license_id; address_number; address_street_name; ssn <br/>
78881; Red Korb; 918773; 107 Camerata Dr; 961388910 <br/>
90700; Regina George; 291182; 332 Maple Ave; 337169072 <br/>
99716; Miranda Priestly; 202298; 1883 Golden Ave; 987756388

In [ ]:
SELECT * FROM facebook_event_checkin
WHERE person_id IN (78881, 90700, 99716)
AND event_name = 'SQL Symphony Concert'
AND date LIKE '201712%';

person_id; event_id; event_name; date <br/>
99716; 1143; SQL Symphony Concert; 20171206 <br/>
99716; 1143; SQL Symphony Concert; 20171212 <br/>
99716; 1143; SQL Symphony Concert; 20171229

In [ ]:
SELECT * FROM person
WHERE id = 99716;

id; name; license_id; address_number; address_street_name; ssn <br/>
99716; Miranda Priestly; 202298; 1883 Golden Ave; 987756388

In [ ]:
##Did you find the killer?

INSERT INTO solution VALUES (1, 'Insert the name of the person you found here');
        SELECT value FROM solution;

Miranda Priestly <br/>

Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne!

In [ ]:
SELECT * FROM income
WHERE ssn = 987756388;

ssn annual_income <br/>
987756388 310000